.correction{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 755px;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(39 43 48);
    border-radius: 8px;
    padding: 20px;
    min-width: 47%;
    row-gap: 6px;
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(1, 8, 15);
    border-radius: 8px;
    padding: 20px;
    min-width: 48%;
}
.oneside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;
}
.twoside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;
}
.thirdside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;

}
.fourside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;


}
.fiveside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;

}

.oneoneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: blue;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.onetwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 34, 0);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
   
}

.twooneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 0, 170);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.twotwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 230, 192);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%; 
}

.thirdoneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(230, 34, 0);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.thirdtwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(72, 255, 0);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

.fouroneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.fourtwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(197, 17, 197);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

.fiveoneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(196, 230, 6);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

.fivetwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 39, 12);
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

#btn_4{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 30%;
    margin-left: 34%;
    margin-top: 3%;
    text-decoration: none;
}
#btn_4:hover{
    background-color: blue;
}
a{
    text-decoration: none;
}