
.filter_design{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 755px;

}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(39 43 48);
    border-radius: 8px;
    padding: 20px;
    min-width: 18%;
}
#second{
    min-width: 50%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    display: flex;

}

#third{
    min-width: 29%;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}


#custome_button{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    top: -130px;
}

#custome_button:hover{
    background-color: blue;
}

#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    top: -114px;
    
    position: relative;
}
#btn_1{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    top:-69px;
}
#btn_1:hover{
    background-color: blue;
}
#btn_2{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
}
#btn_2:hover{
    background-color: blue;
}
.joo{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    position: relative;
    top: 68px;
}
.joo:hover{
    background-color: blue;
}

#downloaded{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    position: relative;
    top: 68px;
    
}
#downloaded:hover{
    background-color: blue;

}


.flotr-canvas{
    position: absolute; left: 28px; top: 281px; width: fit-content; height: fit-content;
}
.flotr-overlay{
    position: absolute; left: 28px; top: 281px; width: fit-content; height: fit-content;
}

#btn_3{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 30%;
    margin-left: 34%;
    margin-top: 3%;
    text-decoration: none;
}
#btn_3:hover{
    background-color: blue;
}

a{
    text-decoration: none;
}

.pad{
    display: flex;
    background-color: rgb(39 43 48);
    border-radius: 8px;   
    width: 83%;
    height: 200px;
    margin-left: 11%;
    border-radius: 12%;
    margin-top: 9%;
}
#output-plot{
    z-index: 2;
    margin-top: -83%;
}

#generate-sig{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 22%;
    margin-top: 0%;
    width: 32%;
    
    
}

#generate-sig:hover{
    background-color: blue;
}


#import-sig{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    display: flex;
    margin-left: 57%;
    margin-top: -7%;
    width: 30%;
    
}

#import-sig:hover{
    background-color: blue;
    
}

/* #import-signal{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
 
    display: flex;
    margin-left: 55%;
    margin-top: 0%;
    min-width: 15%;
}

#import-signal:hover{
    background-color: blue;
    
} */

.correction{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 755px;
}
.one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    min-width: 47%;
    row-gap: 6px;
}
.two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    padding: 20px;
    min-width: 48%;
}
.oneside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;
}
.twoside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;
}
.thirdside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;

}
.fourside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;


}
.fiveside{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /* padding: 20px; */
    min-height: 20%;
    column-gap: 8px;

}

.oneoneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    width: 50%;
}
.onetwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
   
}

.twooneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.twotwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%; 
}

.thirdoneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.thirdtwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

.fouroneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}
.fourtwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

.fiveoneside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

.fivetwoside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7b7b7;
    border-radius: 8px;
    /* padding: 20px; */
    width: 50%;
}

#btn_4{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 30%;
    margin-left: 34%;
    margin-top: 2%;
    text-decoration: none;
}
#btn_4:hover{
    background-color: blue;
}
a{
    text-decoration: none;
}


.form{
    margin-left: 4%;
    height: 56px;
    z-index: 1;
    width: 68%;
    margin-top: 10px;
}

#list{
    cursor: no-drop;
    width: 231px;
    margin-left: 42%;
    margin-top: -55px;
    z-index: 10;
    border-radius: 13px;
}

#submit-all-pass{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 14%;
    margin-left: 3%;
    margin-top: 20px;

}

#submit-all-pass:hover{
    background-color: blue;

}
#apply-all-pass{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 13%;
    margin-left: 23%;
    margin-top: -6%;
    
}

#apply-all-pass:hover{
    background-color: blue;
}

#all-pass{
    /* padding: 10px;
    color: rgb(255, 255, 255);
    background-color: red; */
    border: 1px solid #000;
    border-radius: 100px;
    cursor: pointer;
    /* display: flex;
    justify-content: center; */
    min-width: 13%;
    margin-left: 17%;
    margin-top: -3%;
    /* text-decoration: none; */
}
