<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
    </head>
    <body>
        <section class="correction">
            <div class="one">
                <div class="oneside">
                    <div class="oneoneside"></div>
                    <div class="onetwoside"> </div>
                </div>
                <div class="twoside">
                    <div class="twooneside"></div>
                    <div class="twotwoside"></div>
                </div>
                <div class="thirdside">
                    <div class="thirdoneside"></div>
                    <div class="thirdtwoside"></div>
                </div>
                <div class="fourside">
                    <div class="fouroneside"></div>
                    <div class="fourtwoside"></div>
                </div>
                <div class="fiveside">
                    <div class="fiveoneside"></div>
                    <div class="fivetwoside"></div>
                </div>
            </div>
            <div class="two">

            </div>
        </section>
        <button id="btn_4" >Return</button>
    </body>
<script src="/static/js/catalog.js"> </script>
</html>