    <html>
        <head>
            <meta charset="utf-8" />

            <link rel="stylesheet" type="text/css" href="/static/css/catalog.css" />
        </head>
        <body>
            <section class="correction">
                <div class="one">
                    <div class="oneside">
                        <div class="oneoneside">
                            <img src="/static/catalog/1.5j.png" alt="1.5j" width="auto" height="auto">
                        </div>
                        <div class="onetwoside">
                            <img src="/static/catalog/-0.5j.png" alt="-0.5j" width="auto" height="auto">     
                        </div>
                    </div>
                    <div class="twoside">
                        <div class="twooneside">
                            <img src="/static/catalog/-0.1.png" alt="-0.1" width="auto" height="auto">
                        </div>
                        <div class="twotwoside">
                            <img src="/static/catalog/0.3j.png" alt="0.3j" width="auto" height="auto">
                        </div>
                    </div>
                    <div class="thirdside">
                        <div class="thirdoneside">
                            <img src="/static/catalog/0.5.png" alt="0.5" width="auto" height="auto">
                        </div>
                        <div class="thirdtwoside">
                            <img src="/static/catalog/0.6.png" alt="0.6" width="auto" height="auto">
                        </div>
                    </div>
                    <div class="fourside">
                        <div class="fouroneside">
                            <img src="/static/catalog/0.9.png" alt="0.9" width="auto" height="auto">
                        </div>
                        <div class="fourtwoside">
                            <img src="/static/catalog/1.4.png" alt="1.4" width="auto" height="auto">
                        </div>
                    </div>
                    <div class="fiveside">
                        <div class="fiveoneside">
                            <img src="/static/catalog/-0.9.png" alt="-0.9" width="auto" height="auto">
                        </div>
                        <div class="fivetwoside">
                            <img src="/static/catalog/0.3.png" alt="0.3" width="auto" height="auto">
                        </div>
                    </div>
                </div>
                <div class="two">
                    <div id="submitpassplot" style="width: 300px; height: 300px;"></div>
                    <div id="applypassplot" style="width: 300px; height: 300px;"></div>
                    <form action="/allpass" method="POST">
                        <label for="all-pass" style="color: aliceblue;">All pass Value:</label><br>
                        <input type="text" id="all-pass" name="all-pass" style="background-color: aliceblue;">
                        <input  id="submit-all-pass"  type="submit"  value="add">
                        <input  id="apply-all-pass" disabled type="submit" value="apply">
                    </form>
                    <ul id="list" style="background-color: rgb(243, 243, 243);">
                    </ul>
                    
                </div>
            </section>
            <button id="btn_4" >Return</button>
        </body>
        <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
        <script src="/static/js/catalog.js"> </script>
    </html>
