<!DOCTYPE html>
<html>

<head>
    <script src="https://unpkg.com/konva@8.4.2/konva.min.js"></script>
	<meta charset="utf-8" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
	
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/konva/3.2.5/konva.min.js"></script>
    <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script>
    <div id="first-page">
    <section class="filter_design">
        <div class="first" >
            <input type="file" id="real-input" hidden="hidden">
            <button id="custome_button">Import filter</button>
            <span id="custom-text">No file chosen</span>

            <button id="btn_1" onclick="zeroFlag()">zeros</button>
            <button id="btn_2" onclick="poleFlag()">poles</button>

            <div id="magplot" style="width: 300px; height:300px; margin-top: 3%; margin-left: 6%; position: relative; top: 4%; background-color: #ccc;">
            </div>
            <form action="/download" method="POST"> 
                <button class="joo" id="downloaded" value="0" >EXport Filter</button>
                </form>
        </div>
        <div id="second">
            <div id="mag-plot" style="width: 500px; height:300px;"></div>
            <div id="phase-plot" style="width: 500px; height:300px;"></div>
        </div>
        <div id="third" >
            <button id="generate-sig" >Generate Signal </button>
            <input type="file" id="import-signal" hidden="hidden">
            <button id="import-sig" >Import Signal</button>
            <span id="custom-text2"></span>
            <div id="container"><div id="pad" class="pad" >  </div></div>
            <div id="live-plot"  style="margin-left: -173%; margin-top: 10%; width: 170%; height: 60%;"></div>
            <div id="output-plot"></div> 
        </div>
    </section>
    <button id="btn_3"   >correct phase</button>
    </div>
    <div id="cat" style="display: none;" > 
        <section class="correction">
            <div class="one">
                <div class="oneside">
                    <div class="oneoneside">
                        <img src="/static/catalog/1.5j.png" alt="1.5j" width="100%" height="113%">
                    </div>
                    <div class="onetwoside">
                        <img src="/static/catalog/-0.5j.png" alt="-0.5j" width="100%" height="113%">     
                    </div>
                </div>
                <div class="twoside">
                    <div class="twooneside">
                        <img src="/static/catalog/-0.1.png" alt="-0.1" width="100%" height="113%">
                    </div>
                    <div class="twotwoside">
                        <img src="/static/catalog/0.3j.png" alt="0.3j" width="100%" height="113%">
                    </div>
                </div>
                <div class="thirdside">
                    <div class="thirdoneside">
                        <img src="/static/catalog/0.5.png" alt="0.5" width="100%" height="113%">
                    </div>
                    <div class="thirdtwoside">
                        <img src="/static/catalog/0.6.png" alt="0.6" width="100%" height="113%">
                    </div>
                </div>
                <div class="fourside">
                    <div class="fouroneside">
                        <img src="/static/catalog/0.9.png" alt="0.9" width="100%" height="113%">
                    </div>
                    <div class="fourtwoside">
                        <img src="/static/catalog/1.4.png" alt="1.4" width="100%" height="113%">
                    </div>
                </div>
                <div class="fiveside">
                    <div class="fiveoneside">
                        <img src="/static/catalog/-0.9.png" alt="-0.9" width="100%" height="113%">
                    </div>
                    <div class="fivetwoside">
                        <img src="/static/catalog/0.3.png" alt="0.3" width="100%" height="113%">
                    </div>
                </div>
            </div>
            <div class="two">
                <div id="submitpassplot"style="width: 100%; height: 300px; margin-top: -50px;"></div>
                <div id="applypassplot" style="width: 100%; height: 300px;"></div>
                <div class="form">
                    <form action="/allpass" method="POST">
                        <label for="all-pass" style="color: rgb(0, 0, 0);">All pass Value:</label><br>
                        <input type="text" id="all-pass" name="all-pass" style="background-color: aliceblue;">
                        <input  id="submit-all-pass"  type="submit"  value="add">
                        <input  id="apply-all-pass" disabled type="submit" value="apply">
                        <input  id="deleted-list" type="submit" value="deleted-list" style="display: none;">
                    </form>
                </div>
                
                <ul id="list" style="background-color: rgb(243, 243, 243);">
                </ul>
                
            </div>
        </section>
        <button id="btn_4" >Return</button>


    </div>
    
</body>
<script src="/static/js/main.js" > </script>
<script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
<script src="/static/js/catalog.js"> </script>
</html>
